{% extends 'store/base.html' %}
{% load static %}

{% block content %}
<div id="page" class="page-single">
    <header>
        <div class="header-main mobile-hide">
            <div class="container">
                <div class="wrapper flexitem">
                    <div class="left">
                        <div class="dpt-cat">
                            <div class="dpt-head">
                                <div class="main-text">All Categories</div>
                                <div class="mini-text mobile-hide">Total of {{ product_count }} Products</div>
                                <a href="#" class="dpt-trigger mobile-hide">
                                    <i class="ri-menu-3-line ri-xl"></i>
                                    <i class="ri-close-line ri-xl"></i>
                                </a>
                            </div>
                            <div class="dpt-menu">
                                <ul class="second-links">

                                    {% for category in categories %}
                                    <li class="has-child">
                                        <a href="#" style="display: flex; align-items: center;">
                                             <div class="icon-large"><i class="{{ category.icon }}"></i></div>
                                            {{ category.name }}
                                            <div class="icon-small"><i class="ri-arrow-right-s-line"></i></div>
                                            <span style="font-size: 14px; font-weight: 500;">{{ category.product_set.count }}</span>
                                        </a>

                                        <div class="mega"
                                            {% if category.menu_image %}
                                                style="z-index: 999; background-color: #cccaca; min-height: 400px; background-image: url('{{ category.menu_image.url }}'); background-size: cover; background-position: right center;"
                                            {% else %}
                                                style="z-index: 999; background-color: #ffffff; min-height: 400px;"
                                            {% endif %}>

                                            <div class="mega-subcats" style="position: relative; z-index: 2; display: flex; flex-direction: row; gap: 2rem; align-items: flex-start;">

                                                {% for sub in category.subcategories.all %}
                                                    <div class="mega-sub-item" style="min-width: 160px; max-width: 200px; flex-shrink: 0;">
                                                        <h4 style="margin-bottom: 10px; color: var(--secondary-dark-color); text-transform: uppercase; font-size: 13px; font-weight: 600;">
                                                            {{ sub.name }}
                                                        </h4>
                                                        <ul style="list-style: none; padding: 0; margin: 0;">
                                                            {% for subsub in sub.subsubcategories.all %}
                                                                <li style="line-height: 2em;"><a href="#" style="font-size: 13px;">{{ subsub.name }}</a></li>
                                                            {% empty %}
                                                                <li><a href="#" style="color: #636161; font-style: italic; font-size: 13px;">More coming soon...</a></li>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                {% empty %}
                                                    <div class="mega-sub-item">
                                                        <p style="color: #999; font-style: italic;">No subcategories added in Admin yet.</p>
                                                    </div>
                                                {% endfor %}

                                            </div>
                                        </div>
                                    </li>
                                    {% endfor %}

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="right">
                        <div class="search box">
                            <form action="" class="search" method="get">
                                <span class="icon-large"><i class="ri-search-line"></i></span>
                                <input type="search" name="query" placeholder="Search for products.....">
                                <button type="submit">Search</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>       
    </header>
    <main>
        <div class="single-category">
            <div class="container">
                <div class="wrapper">
                    <div class="column">
                        <div class="holder">
                            <div class="row sidebar">
                                <div class="filter">
                                    <div class="filter-block">
                                        <h4>Category</h4>
                                        <ul>
                                            <li>
                                                <input type="checkbox" name="checkbox" id="bags">
                                                <label for="bags">
                                                    <span class="checked"></span>
                                                    <span>Bags</span>
                                                </label>
                                                <span class="count">10</span>
                                            </li>
                                            <li>
                                                <input type="checkbox" name="checkbox" id="clothings">
                                                <label for="clothings">
                                                    <span class="checked"></span>
                                                    <span>Clothings</span>
                                                </label>
                                                <span class="count">10</span>
                                            </li>
                                            <li>
                                                <input type="checkbox" name="checkbox" id="phones">
                                                <label for="phones">
                                                    <span class="checked"></span>
                                                    <span>Phones</span>
                                                </label>
                                                <span class="count">10</span>
                                            </li>
                                            <li>
                                                <input type="checkbox" name="checkbox" id="shoes">
                                                <label for="shoes">
                                                    <span class="checked"></span>
                                                    <span>Shoes</span>
                                                </label>
                                                <span class="count">10</span>
                                            </li>
                                            <li>
                                                <input type="checkbox" name="checkbox" id="jewerly">
                                                <label for="jewerly">
                                                    <span class="checked"></span>
                                                    <span>Jewerly</span>
                                                </label>
                                                <span class="count">10</span>
                                            </li>
                                            <li>
                                                <input type="checkbox" name="checkbox" id="laptops">
                                                <label for="laptops">
                                                    <span class="checked"></span>
                                                    <span>Laptops</span>
                                                </label>
                                                <span class="count">10</span>
                                            </li>
                                            <li>
                                                <input type="checkbox" name="checkbox" id="furniture">
                                                <label for="furniture">
                                                    <span class="checked"></span>
                                                    <span>Furniture</span>
                                                </label>
                                                <span class="count">10</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="filter-block">
                                        <h4>Brands</h4>
                                        <ul>
                                            <li>
                                                <input type="checkbox" name="checkbox" id="nike">
                                                <label for="nike">
                                                    <span class="checked"></span>
                                                    <span>Nike</span>
                                                </label>
                                                <span class="count">10</span>
                                            </li>
                                            <li>
                                                <input type="checkbox" name="checkbox" id="louis-vuitton">
                                                <label for="louis-vuitton">
                                                    <span class="checked"></span>
                                                    <span>Louis Vuitton</span>
                                                </label>
                                                <span class="count">10</span>
                                            </li>
                                            <li>
                                                <input type="checkbox" name="checkbox" id="hermes">
                                                <label for="hermes">
                                                    <span class="checked"></span>
                                                    <span>Hermes</span>
                                                </label>
                                                <span class="count">10</span>
                                            </li>
                                            <li>
                                                <input type="checkbox" name="checkbox" id="gucci">
                                                <label for="gucci">
                                                    <span class="checked"></span>
                                                    <span>Gucci</span>
                                                </label>
                                                <span class="count">10</span>
                                            </li>
                                            <li>
                                                <input type="checkbox" name="checkbox" id="zara">
                                                <label for="zara">
                                                    <span class="checked"></span>
                                                    <span>Zara</span>
                                                </label>
                                                <span class="count">10</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="filter-block products">
                                        <h4>Color</h4>
                                        <ul class="bycolor variant flexitem">
                                            <li>
                                                <input type="radio" name="color" id="color1">
                                                <label for="color1" class="circle"></label>
                                            </li>
                                            <li>
                                                <input type="radio" name="color" id="color2">
                                                <label for="color2" class="circle"></label>
                                            </li>
                                            <li>
                                                <input type="radio" name="color" id="color3">
                                                <label for="color3" class="circle"></label>
                                            </li>
                                            <li>
                                                <input type="radio" name="color" id="color4">
                                                <label for="color4" class="circle"></label>
                                            </li>
                                            <li>
                                                <input type="radio" name="color" id="color5">
                                                <label for="color5" class="circle"></label>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="filter-block">
                                        <h4>Discount</h4>
                                        <ul>
                                            <li>
                                                <input type="checkbox" name="checkbox" id="all">
                                                <label for="all">
                                                    <span class="checked"></span>
                                                    <span>Show all</span>
                                                </label>
                                            </li>
                                            <li>
                                                <input type="checkbox" name="checkbox" id="with-discount">
                                                <label for="with-discount">
                                                    <span class="checked"></span>
                                                    <span>With Discount</span>
                                                </label>
                                                <span class="count">10</span>
                                            </li>
                                            <li>
                                                <input type="checkbox" name="checkbox" id="without-discount">
                                                <label for="without-discount">
                                                    <span class="checked"></span>
                                                    <span>Without Discount</span>
                                                </label>
                                                <span class="count">10</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="filter-block pricing">
                                        <h4>Price</h4>
                                        <div class="byprice">
                                            <div class="range-track">
                                                <input type="range" value="2000000" min="1000" max="90000000">
                                            </div>
                                            <div class="price-range">
                                                <span class="price-form">UGX 1000</span>
                                                <span class="price-to">UGX 1000000</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="section">
                                <div class="row">
                                    <div class="cat-head">
                                        <div class="breadcrumb">
                                            <ul class="flexitem">
                                                <li><a href="">Home</a></li>
                                                <li>Category Name</li>
                                            </ul>
                                        </div>
                                        <!-- <div class="page-title">
                                            <h1>Category Name</h1>
                                        </div> -->
                                    </div>
                                    <!-- <div class="cat-description">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae velit quos nisi sed! Vero asperiores iure delectus est impedit cum architecto. Dicta quisquam amet dolores. Laudantium, rem consequuntur perspiciatis qui et veniam ad consectetur rerum cumque sapiente laborum, distinctio nulla, earum soluta saepe iusto veritatis culpa recusandae perferendis impedit! Aliquid adipisci quis voluptate non eligendi doloribus obcaecati consequuntur eum natus praesentium ab, placeat, saepe laborum doloremque ipsam nobis voluptatibus, autem nulla officiis quibusdam ad. Deleniti?</p>
                                    </div> -->
                                    <div class="cat-navigation flexitem">
                                        <div class="item-filter dessktop-hide">
                                            <a href="#" class="filter-trigger label">
                                                <i class="ri-menu-2-line ri-2x"></i>
                                                <span>Filter</span>
                                            </a>
                                        </div>
                                        <div class="item-sortir">
                                            <div class="label">
                                                <span class="modile-hide">Sort by default</span>
                                                <div class="desktop-hide">Default</div>
                                                <i class="ri-arrow-down-s-line"></i>
                                            </div>
                                            <ul>
                                                <li>Default</li>
                                                <li>Price Low to High</li>
                                                <li>Price High to Low</li>
                                                <li>Populality</li>
                                            </ul>
                                        </div>
                                        <div class="item-perpage mobile-hide">
                                            <div class="label">Items 10 per page</div>
                                            <div class="desktop-hide">10</div>
                                        </div>
                                        <div class="item-options">
                                            <div class="label">
                                                <span class="modile-hide">Show 10 per page</span>
                                                <div class="desktop-hide">10</div>
                                                <i class="ri-arrow-down-s-line"></i>
                                            </div>
                                            <ul>
                                                <li>10</li>
                                                <li>20</li>
                                                <li>30</li>
                                                <li>ALL</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="products main flexwrap">
                                    <div class="item">
                                        <div class="media">
                                            <div class="thumbnail object-cover">
                                                <a href="#">
                                                    <img src="{% static 'assets/products/ironman.jpg' %}" alt="">
                                                </a>
                                            </div>
                                            <div class="hoverable">
                                                <ul>
                                                    <li class="active"><a href="#" class="social-info">
                                                        <span><i class="ri-heart-line"></i></span>
                                                        <p class="hover-text">Wishlist</p>
                                                    </a></li>
                                                    <li><a href="#" class="social-info">
                                                        <span><i class="ri-eye-line"></i></span>
                                                        <p class="hover-text">View more</p>
                                                    </a></li>
                                                    <li><a href="#" class="social-info">
                                                        <span><i class="ri-shopping-cart-line"></i></span>
                                                        <p class="hover-text">Add to Cart</p>
                                                    </a></li>
                                                </ul>
                                            </div>
                                            <div class="discount circle flexcenter"><span>50%</span></div>
                                        </div>
                                        <div class="content">
                                            <div class="rating">
                                                <div class="stars"></div>
                                                <span class="mini-text">(17,098)</span>
                                            </div>
                                            <h3><a href="#">IronMan shoes directly from Stark Industries.</a></h3>
                                            <div class="price">
                                                <span class="current">2,500,000UGX</span>
                                                <span class="normal mini-text">5000,000UGX</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="media">
                                            <div class="thumbnail object-cover">
                                                <a href="#">
                                                    <img src="{% static 'assets/products/louis.jpg' %}" alt="">
                                                </a>
                                            </div>
                                            <div class="hoverable">
                                                <ul>
                                                    <li class="active"><a href="#" class="social-info">
                                                        <span><i class="ri-heart-line"></i></span>
                                                        <p class="hover-text">Wishlist</p>
                                                    </a></li>
                                                    <li><a href="#" class="social-info">
                                                        <span><i class="ri-eye-line"></i></span>
                                                        <p class="hover-text">View more</p>
                                                    </a></li>
                                                    <li><a href="#" class="social-info">
                                                        <span><i class="ri-shopping-cart-line"></i></span>
                                                        <p class="hover-text">Add to Cart</p>
                                                    </a></li>
                                                </ul>
                                            </div>
                                            <div class="discount circle flexcenter"><span>50%</span></div>
                                        </div>
                                        <div class="content">
                                            <div class="rating">
                                                <div class="stars"></div>
                                                <span class="mini-text">(17,098)</span>
                                            </div>
                                            <h3><a href="#">Louis vuitton yellow brown unisex zipper hoodie premium outfit for men women luxury brand</a></h3>
                                            <div class="price">
                                                <span class="current">2,500,000UGX</span>
                                                <span class="normal mini-text">5000,000UGX</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="media">
                                            <div class="thumbnail object-cover">
                                                <a href="#">
                                                    <img src="{% static 'assets/products/puma.jpg' %}" alt="">
                                                </a>
                                            </div>
                                            <div class="hoverable">
                                                <ul>
                                                    <li class="active"><a href="#" class="social-info">
                                                        <span><i class="ri-heart-line"></i></span>
                                                        <p class="hover-text">Wishlist</p>
                                                    </a></li>
                                                    <li><a href="#" class="social-info">
                                                        <span><i class="ri-eye-line"></i></span>
                                                        <p class="hover-text">View more</p>
                                                    </a></li>
                                                    <li><a href="#" class="social-info">
                                                        <span><i class="ri-shopping-cart-line"></i></span>
                                                        <p class="hover-text">Add to Cart</p>
                                                    </a></li>
                                                </ul>
                                            </div>
                                            <div class="discount circle flexcenter"><span>50%</span></div>
                                        </div>
                                        <div class="content">
                                            <div class="rating">
                                                <div class="stars"></div>
                                                <span class="mini-text">(17,098)</span>
                                            </div>
                                            <h3><a href="#">Elevate Your Look with These Trendy Puma Trousers</a></h3>
                                            <div class="price">
                                                <span class="current">2,500,000UGX</span>
                                                <span class="normal mini-text">5000,000UGX</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="media">
                                            <div class="thumbnail object-cover">
                                                <a href="#">
                                                    <img src="{% static 'assets/products/samsung1.jpg' %}" alt="">
                                                </a>
                                            </div>
                                            <div class="hoverable">
                                                <ul>
                                                    <li class="active"><a href="#" class="social-info">
                                                        <span><i class="ri-heart-line"></i></span>
                                                        <p class="hover-text">Wishlist</p>
                                                    </a></li>
                                                    <li><a href="#" class="social-info">
                                                        <span><i class="ri-eye-line"></i></span>
                                                        <p class="hover-text">View more</p>
                                                    </a></li>
                                                    <li><a href="#" class="social-info">
                                                        <span><i class="ri-shopping-cart-line"></i></span>
                                                        <p class="hover-text">Add to Cart</p>
                                                    </a></li>
                                                </ul>
                                            </div>
                                            <div class="discount circle flexcenter"><span>50%</span></div>
                                        </div>
                                        <div class="content">
                                            <div class="rating">
                                                <div class="stars"></div>
                                                <span class="mini-text">(17,098)</span>
                                            </div>
                                            <h3><a href="#">Galaxy S22 Ultra 512GB ROM 16GB RAM</a></h3>
                                            <div class="price">
                                                <span class="current">2,500,000UGX</span>
                                                <span class="normal mini-text">5000,000UGX</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="media">
                                            <div class="thumbnail object-cover">
                                                <a href="#">
                                                    <img src="{% static 'assets/products/spider.jpg' %}" alt="">
                                                </a>
                                            </div>
                                            <div class="hoverable">
                                                <ul>
                                                    <li class="active"><a href="#" class="social-info">
                                                        <span><i class="ri-heart-line"></i></span>
                                                        <p class="hover-text">Wishlist</p>
                                                    </a></li>
                                                    <li><a href="#" class="social-info">
                                                        <span><i class="ri-eye-line"></i></span>
                                                        <p class="hover-text">View more</p>
                                                    </a></li>
                                                    <li><a href="#" class="social-info">
                                                        <span><i class="ri-shopping-cart-line"></i></span>
                                                        <p class="hover-text">Add to Cart</p>
                                                    </a></li>
                                                </ul>
                                            </div>
                                            <div class="discount circle flexcenter"><span>50%</span></div>
                                        </div>
                                        <div class="content">
                                            <div class="rating">
                                                <div class="stars"></div>
                                                <span class="mini-text">(17,098)</span>
                                            </div>
                                            <h3><a href="#">Spider hoodies to keep you warm</a></h3>
                                            <div class="price">
                                                <span class="current">2,500,000UGX</span>
                                                <span class="normal mini-text">5000,000UGX</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="media">
                                            <div class="thumbnail object-cover">
                                                <a href="#">
                                                    <img src="{% static 'assets/products/watch1.jpg' %}" alt="">
                                                </a>
                                            </div>
                                            <div class="hoverable">
                                                <ul>
                                                    <li class="active"><a href="#" class="social-info">
                                                        <span><i class="ri-heart-line"></i></span>
                                                        <p class="hover-text">Wishlist</p>
                                                    </a></li>
                                                    <li><a href="#" class="social-info">
                                                        <span><i class="ri-eye-line"></i></span>
                                                        <p class="hover-text">View more</p>
                                                    </a></li>
                                                    <li><a href="#" class="social-info">
                                                        <span><i class="ri-shopping-cart-line"></i></span>
                                                        <p class="hover-text">Add to Cart</p>
                                                    </a></li>
                                                </ul>
                                            </div>
                                            <div class="discount circle flexcenter"><span>50%</span></div>
                                        </div>
                                        <div class="content">
                                            <div class="rating">
                                                <div class="stars"></div>
                                                <span class="mini-text">(17,098)</span>
                                            </div>
                                            <h3><a href="#">Devon Watch, Water, Dust and Shock resistant</a></h3>
                                            <div class="price">
                                                <span class="current">2,500,000UGX</span>
                                                <span class="normal mini-text">5000,000UGX</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="media">
                                            <div class="thumbnail object-cover">
                                                <a href="#">
                                                    <img src="{% static 'assets/products/dress.jpg' %}" alt="">
                                                </a>
                                            </div>
                                            <div class="hoverable">
                                                <ul>
                                                    <li class="active"><a href="#" class="social-info">
                                                        <span><i class="ri-heart-line"></i></span>
                                                        <p class="hover-text">Wishlist</p>
                                                    </a></li>
                                                    <li><a href="#" class="social-info">
                                                        <span><i class="ri-eye-line"></i></span>
                                                        <p class="hover-text">View more</p>
                                                    </a></li>
                                                    <li><a href="#" class="social-info">
                                                        <span><i class="ri-shopping-cart-line"></i></span>
                                                        <p class="hover-text">Add to Cart</p>
                                                    </a></li>
                                                </ul>
                                            </div>
                                            <div class="discount circle flexcenter"><span>50%</span></div>
                                        </div>
                                        <div class="content">
                                            <div class="rating">
                                                <div class="stars"></div>
                                                <span class="mini-text">(17,098)</span>
                                            </div>
                                            <h3><a href="#">Lauriell Bright Orange Wrap Front Crepe Midi Dress</a></h3>
                                            <div class="price">
                                                <span class="current">2,500,000UGX</span>
                                                <span class="normal mini-text">5000,000UGX</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="media">
                                            <div class="thumbnail object-cover">
                                                <a href="#">
                                                    <img src="{% static 'assets/products/dress2.jpg' %}" alt="">
                                                </a>
                                            </div>
                                            <div class="hoverable">
                                                <ul>
                                                    <li class="active"><a href="#" class="social-info">
                                                        <span><i class="ri-heart-line"></i></span>
                                                        <p class="hover-text">Wishlist</p>
                                                    </a></li>
                                                    <li><a href="#" class="social-info">
                                                        <span><i class="ri-eye-line"></i></span>
                                                        <p class="hover-text">View more</p>
                                                    </a></li>
                                                    <li><a href="#" class="social-info">
                                                        <span><i class="ri-shopping-cart-line"></i></span>
                                                        <p class="hover-text">Add to Cart</p>
                                                    </a></li>
                                                </ul>
                                            </div>
                                            <div class="discount circle flexcenter"><span>50%</span></div>
                                        </div>
                                        <div class="content">
                                            <div class="rating">
                                                <div class="stars"></div>
                                                <span class="mini-text">(17,098)</span>
                                            </div>
                                            <h3><a href="#">HomRain Women's Elegant Floral Lace Dress Off The Shoulder High Low Hem Dresses for Wedding for Cocktail for Party</a></h3>
                                            <div class="price">
                                                <span class="current">2,500,000UGX</span>
                                                <span class="normal mini-text">5000,000UGX</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="load-more flexcenter">
                                    <a href="" class="secondary-button">Load more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
{% endblock %}