{% load static %}
<header>
    <div class="header-top mobile-hide">
        <div class="container">
            <div class="wrapper flexitem">
                <div class="left">
                    <ul class="flexitem main-links">
                      <li><a href="#">About</a></li>
                      <li><a href="#">Wishlist</a></li>
                    </ul>
                </div>
                <div class="right">
                    <ul class="flexitem main-links">
                        <li><a href="#">Sign Out</a></li>
                        <li><a href="#">Signup</a></li>
                        <li><a href="#">Signin</a></li>
                        <!-- <li><a href="#">Register Business</a></li> -->
                        <li><a href="#">UGX<span class="icon-small"><i class="ri-arrow-down-s-line"></i></span></a>                                        
                            <ul>
                                <li class="current"><a href="#">UGX</a></li>
                                <li><a href="#">USD</a></li>
                                <li><a href="#">EURO</a></li>
                            </ul>
                        </li>
                        <li><a href="#">English<span class="icon-small"><i class="ri-arrow-down-s-line"></i></span></a>
                            <ul>
                                <li class="current"><a href="#">English</a></li>
                                <li><a href="#">Luganda</a></li>
                                <li><a href="#">Kiswahili</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="header-nav">
        <div class="container">
            <div class="wrapper flexitem">
                <a href="#" class="trigger desktop-hide"><i class="ri-menu-add-fill"></i></a>
                <div class="left flexitem">
                    <div class="logo"><a href="{% url 'store' %}"><span class="circle"></span>.DigitalCart</a></div>
                    <nav class="mobile-hide">
                        <ul class="flexitem second-links">
                            <li><a href="{% url 'store' %}">Home</a></li>
                            <li class="has-child">
                                <a href="#">Women
                                    <div class="icon-small"><i class="ri-arrow-down-s-line"></i></div>
                                </a>
                                <div class="mega">
                                    <div class="container">
                                        <div class="wrapper">
                                            <div class="flexcol">
                                                <div class="row">
                                                    <h4>Women's Clothing</h4>
                                                    <ul>
                                                        <li><a href="#">Dresses</a></li>
                                                        <li><a href="#">Tops</a></li>
                                                        <li><a href="#">Pants</a></li>
                                                        <li><a href="#">Skirts</a></li>
                                                        <li><a href="#">Outerwear</a></li>
                                                        <li><a href="#">Accessories</a></li>
                                                        <li><a href="#">Sports</a></li>
                                                        <li><a href="#">Jackets and Coats</a></li>
                                                        <li><a href="#">Sweaters</a></li>
                                                        <li><a href="#">Blouses</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="flexcol">
                                                <div class="row">
                                                    <h4>Jewelry</h4>
                                                    <ul>
                                                        <li><a href="">Rings</a></li>
                                                        <li><a href="">Necklaces</a></li>
                                                        <li><a href="">Earrings</a></li>
                                                        <li><a href="">Bracelets</a></li>
                                                        <li><a href="">Watches</a></li>
                                                        <li><a href="">Bangles</a></li>
                                                        <li><a href="">Accessories</a></li>
                                                        <li><a href="">Bags and Purses</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="flexcol">
                                                <div class="row">
                                                    <h4>Beauty</h4>
                                                    <ul>
                                                        <li><a href="">Skincare</a></li>
                                                        <li><a href="">Makeup</a></li>
                                                        <li><a href="">Fragrance</a></li>
                                                        <li><a href="">Hair Care</a></li>
                                                        <li><a href="">Body Care</a></li>
                                                        <li><a href="">Bath Accessories</a></li>
                                                        <li><a href="">Essential Oils</a></li>
                                                        <li><a href="">Face Masks</a></li>
                                                        <li><a href="">Spa Kits</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="flexcol">
                                                <div class="row">
                                                    <h4>Brands</h4>
                                                    <ul class="women-brands">
                                                        <li><a href="">Nike</a></li>
                                                        <li><a href="">Louis Vuitton</a></li>
                                                        <li><a href="">Hermes</a></li>
                                                        <li><a href="">Gucci</a></li>
                                                        <li><a href="">Tiffany & Co.</a></li>
                                                        <li><a href="">Zara</a></li>
                                                        <li><a href="">H&M</a></li>
                                                        <li><a href="">Cartier</a></li>
                                                        <li><a href="">Chanel</a></li>
                                                        <li><a href="">Hurley</a></li>
                                                    </ul>
                                                    <div class="view-all">View all brands <i class="ri-arrow-right-line"></i></div>
                                                </div>
                                            </div>
                                            <div class="flexcol products">
                                                <div class="row">
                                                    <div class="media">
                                                        <div class="thumbnail object-cover"><a href=""><img src="{% static 'assets/products/apparel4.jpg' %}" alt=""></a>
                                                        </div>
                                                    </div>
                                                    <div class="text-content">
                                                        <h4>Most wanted</h4>
                                                        <a href="#" class="primary-button">Order Now</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li><a href="#">Men</a></li>
                            <li>
                                <a href="#">Sports
                                    <div class="fly-item"><span>New!</span></div>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="right">
                    <ul class="flexitem second-links">
                        <li class="mobile-hide"><a href="#">
                            <div class="icon-large"><i class="ri-heart-line"></i></div>
                            <div class="fly-item"><span class="item-number">0</span></div>
                        </a></li>
                        <li><a href="#" class="iscart">
                            <div class="icon-large">
                                <i class="ri-shopping-cart-line"></i>
                                <div class="fly-item"><span class="item-number">0</span></div>
                            </div>
                            <div class="icon-text">
                                <div class="mini-text">Total</div>
                                <div class="cart-total">00UGX</div>
                            </div>
                        </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>