{% extends 'store/base.html' %}
{% load static %}

{% block content %}
<div id="page" class="site page-single">
    <main>
        <div class="single-product">
            <div class="container">
                <div class="wrapper">
                    <div class="breadcrumb">
                        <ul class="flexitem">
                            <li><a href="{% url 'store' %}">Home</a></li>
                            <li><a href="#">{{ product.category.name }}</a></li>
                            <li>{{ product.name }}</li>
                        </ul>
                    </div>

                    <div class="column">
                        <div class="products one">
                            <div class="flexwrap">
                                <div class="row">
                                    <div class="item is_sticky">
                                        <div class="big-image">
                                            <div class="big-image-wrapper">
                                                <div class="image-show">
                                                    {% if product.image %}
                                                        <img src="{{ product.image.url }}" alt="{{ product.name }}" style="border-radius: 8px;">
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="item">
                                        <h1>{{ product.name }}</h1>
                                        <div class="content">
                                            <div class="stock-sku">
                                                <span class="available">In Stock</span>
                                            </div>
                                            <div class="price">
                                                <span class="current">${{ product.price }}</span>
                                            </div>

                                            <div class="stock mini-text">
                                                <div class="qty">
                                                    <span>Stock: <strong class="qty-available">{{ product.stock }}</strong></span>
                                                </div>
                                                <div class="bar">
                                                    <div class="available" style="width: 100%;"></div>
                                                </div>
                                            </div>

                                            <div class="description collapse" style="margin-top: 20px;">
                                                <p>{{ product.description }}</p>
                                            </div>

                                            <div class="actions">
                                                <div class="button-cart">
                                                    <button class="primary-button">Add to Cart</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>           
    </main>
</div>
{% endblock %}